<div class="{{prefix}}-top-panel">
  <div class="{{prefix}}-navigation">
    <button {{action 'previous'}}>&lt;</button>
    <button class="{{prefix}}-title" {{action 'toggleView'}}>
      {{yield}}
    </button>
    <button {{action 'next'}}>&gt;</button>
  </div>
</div>