<tbody class="{{prefix}}-days">
  <tr class="{{prefix}}-day-letters">
    {{#each daysOfWeek as |day|}}
      <td align="right">{{day.name}}</td>
    {{/each}}
  </tr>
</tbody>
<tbody class="{{prefix}}-day-list">
  {{#each weeks as |week|}}
    {{harvest-week
        prefix=prefix
        selectDay=(action 'selectDay')
        selectWeek=(action 'selectWeek')
        selectedDate=selectedDate
        selectedRange=selectedRange
        week=week}}
  {{/each}}
</tbody>