<div class="{{prefix}}-header">
  <div class="{{prefix}}-top-panel">
    <div class="{{prefix}}-navigation">
      <button {{action "prevMonth"}}>&lt;</button>
      <button>{{monthName}} {{year}}</button>
      <button {{action "nextMonth"}}>&gt;</button>
    </div>
  </div>
</div>
{{harvest-calendar-view
    prefix=prefix
    selectDay=(action 'selectDay')
    selectWeek=(action 'selectWeek')
    selectedDate=selectedDate
    selectedRange=selectedRange
    viewDate=viewDate
}}