<div class="type">Datepicker: {{harvest-datepicker prefix='harvest'}}</div>
<div class="type">Datepicker w/ Disabled Input: {{harvest-datepicker prefix='harvest' disableInput=true}}</div>
<div class="type">Datepicker w/ Range: {{harvest-datepicker prefix='harvest' minDate='9/16/2016' maxDate='today'}}</div>
<div class="type">Weekpicker: {{harvest-weekpicker prefix='harvest'}}</div>
<div class="type">Weekpicker w/ Range: {{harvest-weekpicker prefix='harvest' minDate='9/01/2016' maxDate='today'}}</div>
<div class="type">Monthpicker: {{harvest-monthpicker prefix='harvest'}}</div>
<div class="type">Monthpicker w/ Disabled Input: {{harvest-monthpicker prefix='harvest' disableInput=true}}</div>